{% extends "layout.html.twig" %}
{% block body %}
<h3>Supprimer une fiche</h3>
<p>
    Etes-vous certain de vouloir supprimer la fiche "{{ fiche.titre }}" ?
</p>

<form action="{{ path('fda_site_supprimer_fiche', {'id': fiche.id}) }}" method="post">
    <a href="{{ path('fda_site_fiche', {'id': fiche.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la fiche
    </a>
    
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
</form>
{% endblock %}